.myProfile-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2.5rem;
    background-color: #f3f4f6;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .myProfile-profile {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .myProfile-avatar {
    width: 6rem;
    height: 6rem;
  }
  
  .myProfile-avatarImage {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .myProfile-userDetails {
    display: flex;
    flex-direction: column;
  }
  
  .myProfile-userName {
    font-size: 1.5rem;
    font-weight: bold;
    color: #1f2937;
  }
  
  .myProfile-userEmail {
    color: #6b7280;
  }
  
  .myProfile-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .myProfile-listingsCount,
  .myProfile-subscriptionInfo,
  .myProfile-subscriptionExpiry {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }
  
  .myProfile-sectionTitle {
    font-size: 1rem;
    font-weight: 600;
    color: #374151;
  }
  
  .myProfile-sectionValue {
    font-size: 1.25rem;
    font-weight: 500;
    color: #374151;
  }
  
  .myProfile-subscriptionDetails {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .myProfile-userPlan {
    font-weight: bold;
    font-size: 1.5rem;
  }
  
  .myProfile-userPlan--Boost {
    color: transparent;
    background-clip: text;
    background-image: linear-gradient(to right, #60a5fa, #3b82f6, #2563eb);
    font-family: 'Inter', sans-serif;
  }
  
  .myProfile-userPlan--Boost\+ {
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    font-size: 2rem !important;
    background-image: linear-gradient(to right, #facc15, #fb923c, #ef4444);
    font-family: 'Dancing Script', cursive;
}

  
  .myProfile-userPlan--none {
    color: #6b7280;
  }
  
  .myProfile-upgradeLink {
    color: #242442;
    font-weight: 300;
    border-bottom: 1px solid;

  }
  
  .myProfile-subscriptionExpiry {
    display: flex;
    gap: 0.75rem;
  }
  
  .myProfile-expiryText {
    font-size: 1.25rem;
    font-weight: 500;
    color: #374151;
  }
  .myProfile-expiryDetails, .myProfile-subscriptionDetails{
    display: flex;
    width: 20%;
    align-items: center;
    justify-content: space-around;
  }
  
  .myProfile-cancelLink {
    font-weight: 300;
    font-size: 1rem;
    color: #242442;
    border-bottom: 1px solid;
}
  
  .myProfile-actions {
    display: flex;
    justify-content: space-between;
  }
  
  .myProfile-action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
  }
  
  .myProfile-signOutButton {
    transition: all 0.2s;
    font-weight: lighter !important;
    font-size: 1.1rem !important;
  }
  
  .myProfile-signOutButton:hover {
    transform: scale(1.05);
    background-color: #f97316 !important;
    transition: ease-in-out 0.3s;
  }
  
  @media (max-width: 468px) {
    .myProfile-container {
      padding: 1.5rem;
    }
  
    .myProfile-profile {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .myProfile-avatar {
      width: 4rem;
      height: 4rem;
    }
  
    .myProfile-userName {
      font-size: 1.25rem;
    }
  
    .myProfile-userEmail {
      font-size: 0.875rem;
    }
  
    .myProfile-info {
      gap: 0.75rem;
    }
  
    .myProfile-listingsCount,
    .myProfile-subscriptionInfo,
    .myProfile-subscriptionExpiry {
      align-items: center;
      flex-direction: column;
      justify-content: center;
      gap: 0.5rem;
      padding: 0.65rem;
    }
  
    .myProfile-sectionTitle {
      font-size: 0.875rem;
    }
  
    .myProfile-sectionValue,
    .myProfile-expiryText {
      font-size: 1rem;
    }
    .myProfile-expiryDetails{
        flex-direction: column;
    } 
    .myProfile-expiryText{
        text-wrap: nowrap;
        padding: 10px;
    }
    .myProfile-subscriptionDetails {
      flex-direction: column;
      align-items: center;
      gap: 0.25rem;
    }
  
    .myProfile-userPlan {
      font-size: 1.25rem;
      padding: 10px;
    }
  
    .myProfile-upgradeLink {
      font-size: 0.875rem;
      width: 100%;
      text-align: center;
      text-wrap: nowrap;
      margin-right: 50px !important;
    }
  
    .myProfile-cancelLink {
      font-size: 0.875rem;
    }
  
    .myProfile-actions {
      flex-direction: column;
      gap: 0.5rem;
    }
  
    .myProfile-action {
      padding: 0.5rem;
    }
  }